@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$font-family-base: Montserrat;
$background-color: #16161a;
$headline-color: #fffffe;
$paragraph-color: #94a1b2;
$button-color: #7f5af0;
$button-text: #fffffe;